@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
 background:url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/noisy_net.png') repeat;
  font-family: "Open Sans",  Impact;
}
.area{
  text-align:center;
  font-size:6.5em;
  color:red;
  letter-spacing: -7px;
  font-weight:700;
  text-transform:uppercase;
  animation:blur .75s ease-out infinite;
  text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}

.container{
    height: 100vh; 
    /* VH significa viewport height (altura del dispositivo). También funciona como porcentaje, especificar 10vh es equivalente a ocupar 10% de la altura visible de la pantalla. Si miras cuidadosamente puedes ver que 50vh significa 50%, lo que cubrirá el 50% de la altura de la pantalla. */

    display: flex; /*canbio de dimensiones flexible*/    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}
.mostrar{
    font-size: 5rem;
    margin-bottom: 1rem;
}

.btns{
    background-color: transparent;
    padding: .5rem 1rem; /*de arriba hacia abajo 0.5 y a los costados 1*/
    border-radius: 1rem;    
    border: yellow solid 2px; 
    letter-spacing: 15px;
    cursor: pointer; /*para cuando acercamos el cursos se tranforme en manito*/    
}
.goup{
    font-size: x-large ;
}

.reset{
    margin: 0 1rem 0 1rem;/*arriba de 0, a la derecha de 1, abajo de 0 y a la izquierda de 1*/
    font-size: x-large;
}
.godown{
    font-size: x-large ;
}